body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
/*================ First Stage start ===============*/ 
h1{
    font-size: 40px;
    line-height: 20px;
    margin-left: 5px;
    padding: 5px;
}
h2{
    font-size: 30px;
}
#second-header{
    text-align: center;
}
.mission{
   padding-bottom:15px;
}
.mission-22{
    border-left:4px solid red;
}
.header-text-color{
    color:lightsalmon;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 45px;
    color: white;
    border-radius: 5px;
    font-weight:700;
}
.explore{
    padding-top:15px;
}
.header-section{
    display: flex;
    margin-left: 200px;
}
.half-width-left{
    margin-top: 5%;
    width: 50%;
    
}
.half-width-right{
    width: 50%;
    
}
.half-width-right img{
    width: 60%;
    margin-left: 40px;
    padding-left: 20px;   
}
/*================ First Stage End ===============*/

/*================ second stage Start =============*/
.vission-mission-goal-section{
    display:flex;
    margin-left: 200px;
}

.mis-vis-goal-box img{
    width: 40%;
}
.my-mi-vi-go-text{
    padding-left: 25px;
    padding-right: 25px;
}
.my-mi-vi-go-text p{
    font-size: 15px;
}
.mission-box-color{
    background-color:lavender;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
}
.mission-box-color img{
    padding-top: 15px;
}
.vission-box-color{
    background-color:#FFEEEE;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
}
.vission-box-color img{
    padding-top: 15px;
}
.goal-box-color{
    background-color:#FFF4D6;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
}
.goal-box-color img{
    padding-top: 15px;
}
/*================ second stage End =============*/
/*================ Third stage Start =============*/
.develop-without-limit-section{
    margin-left: 200px;
    display:flex;
    margin-top: 40px;
}
.without-limit-left{
    width: 35%;
}
.without-limit-left img{
    width: 80%;
}

.without-limit-right{
    width: 65%;
}
.develop-without-limits{
    width:75%;
}
.develop-without-limits h3{
    font-size: 30px;
    line-height: 10px;
}
.develop-without-limits p{
    margin-bottom: 35px;
}
/*================ Third stage Finish =============*/
/*================ Fourth stage Start =============*/
.Know-global-community-section{
    margin-left: 200px;
    display:flex;
    margin-top: 40px;
}

.global-community-left{
    width: 45%;
}
.global-community-left h3{
    font-size: 30px;
    line-height: 10px;
}
.global-community-left p{
    margin-bottom: 35px;
    text-align: justify;
}
.global-community-right{
    width: 50%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
  
}
.global-community-right img{
    width: 50%;
    margin-left: 25%;
}
/*================ Fourth Stage End =============*/
/*================ Fifth Stage Start =============*/
#corona-header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.corona-section{
    display:flex;
    margin-left: 200px;
    
}
.corona-section-left{
    width: 30%;
}
.corona-section-left img{
    width: 65%;
    margin-left: 15%;
    margin-bottom: 50px;
}
.corona-section-right{
    width:60%;
    text-align: justify;
    margin-left: 30px;
    margin-top: 30px;
}
.corona-section-right h1{
    font-size: 40px;
    line-height: 10px;
    

}
.corona-section-right p{
    width: 580px;
    margin-bottom: 40px;
  
}




/*=============== Fifth Stage End ==================*/
/*=============== Footer Stage Start ===============*/
.footer{
    width: 100%;
    height:170px;
    background-color: black;
    color: white;
}
.footer-text{
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    font-style:oblique ;
}
.footer-text p{
    font-style: normal;
}
.style-2022{
    color:#FF5959;
}

/*=============== Footer Stage End =================*/ 